/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */
 
/* ==========================================================================
HTML5 display definitions
========================================================================== */
 
/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
/* * Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }
/* * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support. */
[hidden] { display: none; }
/* ==========================================================================
Base
========================================================================== */
/* * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom. */
 
html { font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */ }
html, html a { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
/* * Addresses `font-family` inconsistency between `textarea` and other form
* elements. */
html, button, input, select, textarea { font-family: 'Varela Round', sans-serif; }
/* * Addresses margins handled incorrectly in IE 6/7. */
body { margin: 0; font-family: 'Raleway', sans-serif; background: black}

a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

 
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
/* * Addresses paddings set differently in IE 6/7. */
menu, ol, ul { padding: 0 0 0 40px; }
/* * Corrects list images handled incorrectly in IE 7. */
nav ul, nav ol { list-style: none; list-style-image: none; }
 
img { border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */ }
svg:not(:root) { overflow: hidden; }
 
figure { margin: 0; }
 
form { margin: 0; }
/* * Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
/* * 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */
	padding: 0; white-space: normal; /* 2 */
*margin-left: -7px; /* 3 */ }
/* * 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
*vertical-align: middle; /* 3 */ }
/* * Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet. */
button, input { line-height: normal; }

button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
*overflow: visible; /* 4 */ }
/* * Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
*width: 13px; /* 3 */ }
/* * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box; }
/* * Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/* * Removes inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* * 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */
vertical-align: top; /* 2 */ }
/* ==========================================================================
Tables
========================================================================== */
/* * Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
/********************************/

a { color: #353535; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
a:hover, a:focus { text-decoration: none; }
p { color: white; word-spacing: 1px; line-height: 25px; font-size: 18px; }
h2 { font-size: 15px; color: white; font-weight: bold; }

.inline {
	display: inline-block;
}
/******************* Head styles **************/
.icon {
	color: white;
	font-size: 40px;
}
.logo {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 40px;
	/*top: 70px;*/
	/*left: 50%;*/
	/*margin-left: -80px;*/
	z-index: 999;

	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s;
}

.logo img {
	width: 160px;
	opacity: 0.6;
}

.slides-container .container {
	text-align: center;
	width: 70%;
	margin: 210px auto 0;
	/*background: green;*/
	/*padding-top: 60px;*/
}
.sub-title1 {
	color: white;
	font-size: 120px;
	margin: 0;
}
.sub-title2 {
	font-size: 100px;
	margin: 0;
}
.sub-icon {
	color: white;
	font-size: 25px;
}
.slides-container .container p {
	font-style: italic;
}


@media screen and (max-width: 900px) {

	.sub-title1 {
		font-size: 70px;
	}
	.sub-title2 {
		font-size: 50px;
	}
	.slides-container .container p {
		font-size: 15px;
	}
	.slides-container .container {
		margin: 280px auto 0;
	}
	.logo{
		top: 70px;
	}
}
/******************************/

/************** Portafolio bar  **********/

.wp5 {
	width: 100%;
	padding: 7px 0;
	/*height: 30px;*/
	background: rgba(250,250,250, 0.75);
	text-align: center;
}
.wp5 p {
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: rgba(30,30,30,0.8);
	/*vertical-align: middle;*/
	/*line-height: 30px;*/
}
.wp5.fixed {
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
}

/****************** Grid **********************/


.grid {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	/*max-width: 1120px;*/
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.33%;
	height: 400px;
	background: black;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	
	font-weight: bold;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/************* Blue  ****************/

figure.effect-blue img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-blue:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-blue figcaption {
	padding: 3em;
}

figure.effect-blue figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-blue figcaption::before,
figure.effect-blue p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-blue h2 {
	padding: 20% 0 20px 0;
}

figure.effect-blue p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-blue:hover figcaption::before,
figure.effect-blue:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 69.5em) {
	.grid figure {
		width: 50%;
	}	

	.grid figure figcaption {
		font-size: 90%;
	}
}


@media screen and (max-width: 41.5em) {

	.grid figure {
		width: 100%;
	}
}










/**************  Footer styles *****************/
footer {
	width: 100%;
	background: rgb(30,30,30);
	/*background: url('../img/footer.jpg');*/
	background-size: cover;
	background-position: center;
	border-bottom: 5px solid rgba(250,250,250,0.4);
	/*background-attachment: fixed;*/

}
footer .fpadding {
	padding: 20px 0;
	width: 80%;
	margin: 0 auto;
	/*background: green;*/
	text-align: center;
}
.brand img {
	width: 80px;
	margin-bottom: 50px;
}

.social-btn {
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	margin: 0 10px;

	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s;
}
.social-btn:hover {
	/*background: rgba(250,250,250,0.5);*/
	opacity: 0.5;
}

/*************************************************/








