#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  bottom: 70px;
  width: 100%;
  font-size: 40px;
}
.slides-navigation a {
  position: absolute;
  display: block;
  color: rgba(250,250,250,0.4);
}
.slides-navigation a:hover {
  color: rgba(250,250,250,0.8);
}
.slides-navigation a.prev {
  left: 1%;
}
.slides-navigation a.next {
  right: 1%;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  background: rgba(250,250,250, 0.2);
  width: 25%;
  height: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: rgba(250,250,250, 0.6);
}
